h1 {
    background-color: rgb(173, 253, 226);
    color: darkcyan;
    text-align: center;
    border-color: darkcyan;
    border:4px dotted;
    padding:10px;
    font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;


}

h5 {
    background-color:peachpuff;
    width: 200px;
    height: 200px;
    border-color:palevioletred;
    border:dashed;
    border-width: 3px;
    text-align: center;
    font-size: larger;
    color: palevioletred;
    font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
    
}

h3 {
    background-color: rgb(208, 236, 240);
    border-color: palevioletred;
    border-style: dotted;
    width: 200px;
    height: 200;
    text-align: center;
    font-size: larger;
    color: palevioletred;
    font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 10px;
  margin-left: 100px;
}

li {
    color: rgb(239, 109, 152);
    font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;

}
body {
    background-color: rgb(206, 206, 255);
}

span {
    display:inline-block;
    padding: 20px;
    margin: 10px;

}

img {
    place: content 20px;;
  }